body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
}

main {
  padding: 20px;
}

@media (max-width: 600px) {
  body {
    background-color: aqua;
  }
  main {
    color: coral;
  }
}

@media (min-width: 601px) {
  body {
    background-color: green;
  }
}

@media (min-width: 1000px) {
  body {
    background-color: darkblue;
  }

  main {
    color: white;
  }
}
